<div class="background"> </div>
<div class="lien-app">
	<form class="1" action="/" method="post" accept-charset="utf-8">
		<input type="text" name="liens[url]" placeholder="insérer votre lien">
		<input type="submit" value="Valider">
		<br>
		Ajouter une description :
		<textarea name="liens[description]" placeholder="description du site"> </textarea>
		<input type="submit" value="Valider">
		<br>
		

	</form>

	<!-- 
	<form class="bouton"> 
	Domaine : 
	<br>
		<input type="radio" name="domaine" value="oui" checked>Frontend
		<ul>
				<li class="bouton"
					<form>
						<select name="si_frontend">
							<option value="par défaut">Choississez un sous-domaine ...
							<option value="html">UX
							<option value="langages">Jquery
							<option value="outils"  >Scss
							<option value="Jaune"> ...
						</select>
					</form>
				</li>
		</ul>
		<input type="radio" name="domaine" value="non">Backend
			<ul>
				<li class="bouton">
					<form>
						<select name="si_backend">
							<option value="par défaut">Choississez un sous-domaine ...
							<option value="html">HTML/CSS
							<option value="langages">Langages de programmation
							<option value="outils"  >Rails
							<option value="Jaune">Dojos
						</select>
					</form>
			</ul>
	</form> -->
	
</div>

	<hr>
<h2>Voici les liens ajoutés : </h2>
<% @lien.each do |liens| %>
	<div class="Liens">
		<div class="url">Adresse du site :<a href="<%= liens.url %>" target="_blank"> <%= liens.description %></a></div>
		<div class="description">Description du site :<%= liens.description %> </div>
			
		<!--<div class="domaine">Domaine :<%= liens.domaine %> </div> -->
						
 		<a href="<%= liens.id %> ">Supprimer</a>
 						
 		<a href="<%= liens.id %> ">Modifier</a>


	</div>	
	<hr>
<% end %>		
	



