<div class="background"> </div>
<div class="lien-app">
	<form class="1" action="/" method="post" accept-charset="utf-8">
		<input type="text" name="liens[url]" placeholder="insérer votre lien">
		<br>
		<textarea name="liens[description]" value="ajouter une description">ajouter une description (par défaut)</textarea>
		<br>
		<input type="text" name="liens[domaine]" placeholder="ajouter un domaine">
		<br>
		<br>
		<form>
			<input type= "radio" name="liens[profil]" value="front"> frontend
			<input type= "radio" name="liens[profil]" value="back"> backend
			<input type= "radio" name="liens[profil]" value="fullstack"> fullstack
		</form>
		
		<input type="submit" value="Valider">
	</form>
</div>

<hr>
<h2>Voici les liens ajoutés : </h2>
<hr>
<% @liens.each do |liens| %>
	<div class="Liens">
		<div class="url">Adresse du site :<a href="<%= liens.url %>"  target="_blank"> <%= liens.url %> </a></div>
		<div class="description">Description du site :<%= liens.description %> </div>
		<div class="domaine">Domaine :<%= liens.domaine %> </div>
		<div class="domaine">Profil :<%= liens.profil %> </div>
 		<!--<form id="edit-liens<%= liens.id %>" action="/<%= liens.id %>" method="post">
			<input type="hidden" name="_method" value="put">
			<input type="submit" id="task-edit-<%= liens.id %>" value="Edit"> 
		</form> -->
		<form id="delete-liens<%= liens.id %>" action="/<%= liens.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
		</form>


	</div>	
<hr>
<% end %>		
	



